* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe5e5;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 50px;
    max-width: 800px;
    margin: 50px;
}

.container .tenor-gif-embed{
    max-width: 500px;
}


.container .btn{
    display:flex;
    gap: 25px;
}

.btn a{
    text-decoration: none;
    color: #111;
    background: #fff;
    padding: 20px 35px;
    border-radius: 10px;
    box-shadow: 0.5rem 1rem 3rem hs1(0, 0%, 0%, 0.3);
}